<% if user_signed_in? %>
  <button class="btn btn-default">
  <%= link_to('Edit registration', edit_user_registration_path) %>
  </button>
<% else %>
  <button class="btn btn-default">
  <%= link_to('Register', new_user_registration_path)  %>
  </button>
<% end %>