<h1>Disclaimer</h1>

<p><em>Coffee House Finance</em>, <em>this Project</em> and <em>this Website</em> stated in this disclaimer pertain to all the features and information in the <a href="https://github.com/logicalicy">Coffee House Finance</a> project and <a href="http://coffee-house-finance.logicalicy.com">coffee-house-finance.logicalicy.com</a> website.</p>

<p>This Website is for general information and education purpose only. This Website does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this Website (http://coffee-house-finance.logicalicy.com), is strictly at your own risk. This Website, <a href="https://github.com/logicalicy">Logicalicy</a> and the author Mario Hayashi will not be liable for any losses (including lost profits) and/or damages in connection with the use of and investment decisions made with any information presented in this Website.</p>

<p>Any derivative works and projects, as is permissible by this Project's <a href="https://github.com/logicalicy/coffee-house-finance/blob/master/LICENSE">license</a>, of this <a href="https://github.com/logicalicy">Coffee House Finance</a> project are not affiliated to this Project. This Website, <a href="https://github.com/logicalicy">Logicalicy</a> and the author Mario Hayashi will not be liable for any losses (including lost profits) and/or damages in connection with the use of and investment decisions made with any information presented in derivative works and projects.</p>

<p>This Website and <a href="https://github.com/logicalicy">Logicalicy</a> does not provide financial advice and this Website is for general information and education only. This Website does not make any specific recommendations of any financial asset, including stocks, bonds or mutual funds. Users of this Website should consider all factors when making informed decisions.</p>

<p>From this website, you can visit other websites by following hyperlinks to such external sites. While this Website strives to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone ‘bad’.</p>

<p>While this Project has been inspired by the <a href="http://www.coffeehouseinvestor.com/">Coffee House Investor</a> book, this Project has no affiliation with <a href="http://www.coffeehouseinvestor.com/">Coffee House Investor</a> and its affiliates, and does not claim to have any relationship with <a href="http://www.coffeehouseinvestor.com/">Coffee House Investor</a>.</p>

<p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their “Terms of Service” before engaging in any business or uploading any information.</p>

<h2>Consent</h2>

<p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>

<h2>Update</h2>

<p>This site disclaimer was last updated on: Tuesday, February 17th, 2015
· Should we update, amend or make any changes to this disclaimer, those changes will be prominently posted here.</p>