<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1>Editing portfolio</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @portfolio %> |
        <a href="javascript:location.href = '/'">Back</a>
    </div>
  </div>
</div>