<td><%= name %></td>
<td><%= description %></td>
<td><%= default_currency %></td>
<td></td>
<td>
    <button class="edit-portfolio btn btn-default" class="btn btn-default">Edit</button>
    <button class="delete-portfolio btn btn-default" class="btn btn-default">Delete</button>
</td>