<td><%= name %></td>
<td><%= description %></td>
<td><%= default_currency %></td>
<td class="total-value"></td>
<td>
    <button class="view-portfolio btn btn-default" class="btn btn-default"><a href="#portfolios/<%= id %>/positions"><i class="fa fa-eye"></i>View Positions</a></button>
    <button class="edit-portfolio btn btn-default" class="btn btn-default"><i class="fa fa-edit"></i>Edit</button>
    <button class="delete-portfolio btn btn-default" class="btn btn-default"><i class="fa fa-times"></i>Delete</button>
</td>