<button id="add-portfolio" class="btn btn-default"><i class="fa fa-plus"></i>Add Portfolio</button>
<div id="portfolios-content"></div>
<p><b>Note:</b> If you have entered <a href="https://uk.finance.yahoo.com/" target="_blank">Yahoo Finance</a> ticker symbols for your position(s), the <em>Value</em> and <em>Gains/Losses</em> of portfolios here will take the current price of the position(s) (as displayed in <a href="https://uk.finance.yahoo.com/" target="_blank">Yahoo Finance</a>) into account.</p>