<button id="back-to-portfolios" class="btn btn-default"><i class="fa fa-plus"></i>Back to Portfolios</button>
<button id="add-position" class="btn btn-default"><i class="fa fa-plus"></i>Add Position</button>
<div id="positions-content"></div>