<button id="back-to-portfolios" class="btn btn-default"><i class="fa fa-caret-left"></i>Back to Portfolios</button>
<button id="add-position" class="btn btn-default"><i class="fa fa-plus"></i>Add Position</button>
<div id="positions-content"></div>
<p><b>Note:</b> If you have entered <a href="https://uk.finance.yahoo.com/" target="_blank">Yahoo Finance</a> ticker symbols for your position(s), the current price will reflect the current price as displayed in <a href="https://uk.finance.yahoo.com/" target="_blank">Yahoo Finance</a>.</p>