<div class="jumbotron">
    <h1>Welcome to Coffee House Finance!</h1>
    <p>Here you will be able to track your portfolios and their performance all in one place.</p>
</div>
<div class="container">
      <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2 class="sign-up"><a href="/users/sign_up"><i class="fa fa-sign-in"></i> Sign up</a></h2>
      <p>All you need is an email address and password, and you're good to go!</p>
    </div>
    <div class="col-md-4">
      <h2><i class="fa fa-bar-chart"></i> Track your investments</h2>
      <p>Add your portfolio details to your personal account and start tracking your portfolio.</p>
   </div>
    <div class="col-md-4">
      <h2><i class="fa fa-coffee"></i> Have a cup of coffee</h2>
      <p>For all the hard work you've put into maintaining your portfolios, sit back and have a coffee as you monitor your portfolios</p>
    </div>
  </div>
</div>